<body>
    <div class="container-fluid">
        <h2>
            Citas
        </h2>
        <ul class="cursos">
            <ngb-accordion [closeOthers]="true" activeIds="">
                <li *ngFor="let semana of semanas">

                    <ngb-panel>
                        <ng-template ngbPanelTitle>
                            <span class="titulo2"> {{semana.diaInicio}}-{{semana.diaFinal}} </span>

                        </ng-template>

                        <ng-template ngbPanelContent>
                            <li *ngFor="let cita of citas">
                                <a href="detalleCita">
                                    <span class="badge"></span>{{cita.dia}},{{cita.horaInicio.hours}}:{{cita.horaInicio.minutes}} - {{cita.horaFinal.hours}}:{{cita.horaFinal.minutes}}
                                </a>

                            </li>
                        </ng-template>
                    </ngb-panel>

                </li>
            </ngb-accordion>
        </ul>
    </div>
    <button (click)="logout()">
        
            <a> Cerrar Sesión
            </a>
          
          </button>
</body>