<!--
<div class="container">
  <ngb-accordion [closeOthers]="true" activeIds="">

    <li *ngFor="let curso of cursos" (click)="onSelect(curso)">
      <ngb-panel id={{curso.sigla}} title={{curso.sigla}}{{curso.nombre}}>
        
        <ng-template ngbPanelContent>
          <li *ngFor="let curso of cursos">
              <span class="badge"></span> {{curso.nombre}} 
          </li>

          </ng-template>
        
      </ngb-panel>
    </li>

  </ngb-accordion>
</div>
-->
<header>
    <div>
        <h1 class="title">
            U-Meeter
        </h1>
        <h2 id=logout>
        </h2>
        <button class="buton">
          <li class="opciones" (click)="logout()" >
            <a> Cerrar Sesión
            </a>
          </li>       
        </button>
        
        <hr>
      
    </div>
</header>


<body>
    <div class="container-fluid">
        <h2>Mis cursos</h2>
        <ul class="cursos">
            <li *ngFor="let curso of cursos" id={{curso.sigla}} (click)="onSelect(curso)">
                <a href="homeEstudiante#{{curso.sigla}}"><span class="badge"> {{curso.sigla}} </span>
                {{curso.nombre}}</a>
                <ul class="profesores">
                    <li *ngFor="let profe of profes" id=profe.nombre  (click)="Prof(profe)">
                        <a><span class="badge"></span> {{profe.nombre}} {{profe.primerApellido}} </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</body>