<body>

  <div class="border border-primary mt-3 container d-flex justify-content-center">
    <div class="w-50">
      <div class="card 300 mb-1 mt-1 p-2">
        <h3 class="text-center"> Agregar rango de consulta <br></h3>


        <div class="row">
          <div class="col-sm-4 text-center">
            <label><b>Hora de inicio</b></label>
            <ngb-timepicker [(ngModel)]="tiempoInicio" [seconds]="false" [minuteStep]=15 id="piker1"></ngb-timepicker>

          </div>
          <div class="col-sm-4">

          </div>
          <div class="col-sm-4 text-center">
            <label><b>Hora final</b></label>
            <ngb-timepicker [(ngModel)]="tiempoFin" [seconds]="false" [minuteStep]=15 id="piker2"></ngb-timepicker>

          </div>
        </div>


        <div class="row">
          <div class="col-sm-3 text-center">
            <label><b>Fecha de inicio</b></label>
            <form class="form-inline">
              <div class="form-group">
                <div class="input-group">
                  <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="fechaInicio" ngbDatepicker
                    #d="ngbDatepicker">
                  <div class="input-group-append">
                    <button class="btn btn-outline-primary calendar" (click)="d.toggle()" type="button"></button>
                  </div>
                </div>
              </div>
            </form>

          </div>
          <div class="col-sm-3">

          </div>
          <div class="col-sm-3 text-center">
            <label><b>Fecha final</b></label>
            <form class="form-inline">
              <div class="form-group">
                <div class="input-group">
                  <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="fechaFin" ngbDatepicker
                    #d1="ngbDatepicker">
                  <div class="input-group-append">
                    <button class="btn btn-outline-primary calendar" (click)="d1.toggle()" type="button"></button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>



        <div class="row">
          <div class="col-sm-2">
            <label><b>Lugar</b></label>
            <input type="text" #lugar name="lugar" placeholder="Ingrese el lugar" required id="lbl">
          </div>
          <div class="col-sm-4"></div>
          <div class="col-sm-6">
            <label><b>Seleccione los dias</b></label>
            <div class="weekDays-selector">
              <input type="checkbox" id="weekday-mon" class="weekday" [(ngModel)]="lunes" />
              <label for="weekday-mon">L</label>
              <input type="checkbox" id="weekday-tue" class="weekday" [(ngModel)]="martes" />
              <label for="weekday-tue">M</label>
              <input type="checkbox" id="weekday-wed" class="weekday" [(ngModel)]="miercoles" />
              <label for="weekday-wed">K</label>
              <input type="checkbox" id="weekday-thu" class="weekday" [(ngModel)]="jueves" />
              <label for="weekday-thu">J</label>
              <input type="checkbox" id="weekday-fri" class="weekday" [(ngModel)]="viernes" />
              <label for="weekday-fri">V</label>
              <input type="checkbox" id="weekday-sab" class="weekday" [(ngModel)]="sabado" />
              <label for="weekday-sab">S</label>


            </div>

          </div>

        </div>


      </div>
      <div class="w-100 p-2 d-flex justify-content-center">
        <button class="btn btn-primary mr-2" (click)="agregar(lugar.value)">Agregar</button>

      </div>
      <div class="card p-2">
        <h3 class="text-center"> Modificar <br></h3>
        <div class="row align-self-center">
          <div class="col align-self-center">

            <div ngbDropdown class="d-inline-block">
              <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Horarios con
                repeticion</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">

                <li *ngFor="let rango of rangosRep; let i = index" (click)="irARangoRep(rango)">
                  <button ngbDropdownItem (click)="openRep(rango,content)">Fecha inicio: {{rango.fechaInicio}} Fecha
                    final: {{rango.fechaFinal}}
                    Hora Inicial: {{rango.horaIni}} Hora Final: {{rango.horaFin}} Lugar: {{rango.lugar}} </button>
                </li>
              </div>
            </div>
          </div>

          <div class="col align-self-center">

            <div ngbDropdown class="d-inline-block">
              <button class="btn btn-outline-primary" id="dropdownBasic2" ngbDropdownToggle>Horarios unicos de
                consulta</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">

                <li *ngFor="let rango of rangosUnic; let i = index" (click)="irARangoUnic(rango)">
                  <button ngbDropdownItem (click)="openUnic(rango,content2)">Fecha: {{rango.fecha}} Hora Inicial:
                    {{rango.horaIni}}
                    Hora Final: {{rango.horaFin}} Lugar: {{rango.lugar}}</button>
                </li>
              </div>
            </div>
          </div>


        </div>

      </div>
      <div class="w-100 p-2 d-flex justify-content-center">


      </div>

    </div>
  </div>
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Rango con repeticion</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">
      <div class="row align-self-center">
        <div class="col align-self-center">
          <div *ngIf="!esconderFecha">
            <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="fechaInicioF" ngbDatepicker
              #d="ngbDatepicker">
            <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="fechaFinF" ngbDatepicker
              #d="ngbDatepicker">
          </div>
          <label><b>De: {{fechaInicioF.day}}/{{fechaInicioF.month}}/{{fechaInicioF.year}} A:
              {{fechaFinF.day}}/{{fechaFinF.month}}/{{fechaFinF.year}} </b></label>

        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 text-center">
          <label><b>Nueva hora inicial</b></label>
          <ngb-timepicker [(ngModel)]="tiempoInicioInterno" [seconds]="false" [minuteStep]=15 id="piker1">
          </ngb-timepicker>

        </div>
        <div class="col-sm-4">

        </div>
        <div class="col-sm-4 text-center">
          <label><b>Nueva hora final</b></label>
          <ngb-timepicker [(ngModel)]="tiempoFinInterno" [seconds]="false" [minuteStep]=15 id="piker2"></ngb-timepicker>

        </div>
      </div>

      <div class="row align-self-center">

        <div class="col align-self-center">
          <label><b>Lugar</b></label>
          <input type="text" #lugar name="lugar" placeholder="Ingrese el lugar nuevo" required id="lbl">
        </div>
      </div>


    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click') "
        (click)="modificarRango()">Modificar</button>
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')"
        (click)="eliminarRango()">Eliminar</button>
    </div>
  </ng-template>
  <pre></pre>


  <ng-template #content2 let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title2">Rango Unico</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row align-items-center">
        <div class="col-sm-4 align-items-center">
          <div *ngIf="!esconderFecha">
            <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="fechaF" ngbDatepicker
              #d="ngbDatepicker">
          </div>
          <label><b>En: {{fechaF.day}}/{{fechaF.month}}/{{fechaF.year}}</b></label>

        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 text-center">
          <label><b>Nueva hora inicial</b></label>
          <ngb-timepicker [(ngModel)]="tiempoInicioInterno" [seconds]="false" [minuteStep]=15 id="piker1">
          </ngb-timepicker>

        </div>
        <div class="col-sm-4">

        </div>
        <div class="col-sm-4 text-center">
          <label><b>Nueva hora final</b></label>
          <ngb-timepicker [(ngModel)]="tiempoFinInterno" [seconds]="false" [minuteStep]=15 id="piker2"></ngb-timepicker>

        </div>
      </div>

      <div class="row align-self-center">

        <div class="col align-self-center">
          <label><b>Lugar</b></label>
          <input type="text" #lugar name="lugar" placeholder="Ingrese el lugar nuevo" required id="lbl">
        </div>
      </div>


    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click') "
        (click)="modificarRango()">Modificar</button>
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')"
        (click)="eliminarRango()">Eliminar</button>
    </div>
  </ng-template>


</body>