
.imagFondo{
background: url( "https://tse2.mm.bing.net/th?id=OIP.U9B8hEFF0W239QESkoS8wAHaEo") scroll 0 0 transparent;
background-repeat: no-repeat;



}

.opacity{
    background-color:rgba(9,115,187,.95);
    opacity:0.5;
    filter:alpha(opacity=50);
   
 }
 img{
    position:center;
   display: block;
    margin-left: auto;
    margin-right: auto;
    width:30%;
   

}
.titulo{
    top: 0%;
    height: 100%;
    margin-block-start: -1.5%;
    margin-inline-start: 0px;
    color:rgba(9,115,187,.95);
    background: rgba(221, 221, 221, .76);
   
}

h1{
    font-weight: normal;
    font-family: helvetica;
    text-align: left;
    padding-top: none;
    margin: none;
}

hr{
    margin-top: 0%;
    height:37px;
    background-color:rgba(9,115,187,.95);   
}
form {
    background:white;
    border:1px solid black;
    display: block;
    padding: 2%;
    margin-left: none;
    margin-right: none;
    margin-top: auto;
    width: 600px;
    height: 400px;
    top: 20%;
    left: 30%;
    position: absolute;
   
}
.logo{
    width: 20%;
    height: 20%;
    padding: 12px 20px;
    margin: 8px 0;
float: left;


}

.entrada{
width: 10%;
height: 10%;
margin-left: none;
margin-right: none;
}
input[type=text],
input[type=password] {
    opacity:none;
    display: block; 
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    opacity:none;
    margin-top: 20px;
    display: block;
    float:none;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8%;
    background-color: blue;
    color: white;
    margin: 8px 8;
    border: none;
    cursor: pointer;
    width: 100%;
    left: 50%;
    width:100px;
    height:30px;
  
}

button:hover {
    background: gray
}

.container {
    position: center;
    

   
}

span.contaseña {
    float: right;
    padding-top: 16px;
}

@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
}
.bas{
    width:300px;
    height:300px;
     
}

