<br />
<br />

<div class="row text-center" id="monthBottoms">

    <!--Son los tres botones que cambian entre el mes siguinete, el actual y al anterior.-->
    <div class="col-md-4">
        <!--Esto representa la disposición de los botónes, van a ser 3 y del mismo tamaño-->
        <div class="btn-group">

            <!--El btn-primary es la propiedad que hace que el botón se vea azul; por otro lado btn-outline-secondary es la propiedad
          que hace que el botón se vea gris claro-->

            <!--mwlCalendarPreviousView   es una función que representa el mes anterior al que se está actualmente-->
            <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="closeOpenMonthViewDay()">
                Mes Previo
            </div>

            <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate">
                Mes Actual
            </div>

            <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="closeOpenMonthViewDay()">
                Mes siguiente
            </div>

        </div>
    </div>


    <!--Es el mes que se muestra, con el año, se recupera dla librería calendarío.-->
    <div class="col-md-4">
        <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
    </div>

</div>
<!--Aquí se termina la parte de las tres opciones de: adelantar o atrasar meses, mostar el mes y visualizar las citas por día, mes o semana-->


<br />

<!--Caso si la vista del calendario se va hacer por MES-->

<mwl-calendar-month-view (beforeViewRender)="beforeMonthViewRender($event)" [viewDate]="viewDate" [events]="events" [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)" (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)">
</mwl-calendar-month-view>


<!-- Abajo está el modal, que se va a tratar como otro componente, por lo que se va a tener que pasar.-->

<br /><br /><br />

<ng-template #modalContent let-close="close">
    <div class="modal-header">
        <h5 class="modal-title">Listado de citas</h5>
        <button type="button" class="close" (click)="close()"> <!--El close() es un método propio del modal que lo cierra-->
      <span aria-hidden="true">&times;</span>
    </button>
    </div>

    <div class="modal-body">
        <div *ngFor="let item of citasDia" class="slotsContainer">
            <button type="button" class="btn btn-info" id="btnCita" (click)="close()"> 
              <span aria-hidden="true">
                <ul>
                    <li>
                        {{item.nombre}}
                    </li>
                    <li>
                        {{item.horaInicio}} - {{item.horaFinal}} 
                    </li>
                    <li>
                        Curso: {{item.siglaCurso}}, grupo: {{item.numGrupo}}
                    </li>
                </ul>
                </span>
            </button>
            <!--El close() es un método propio del modal que lo cierra-->
            <button *ngIf="mostraOpcion()" type="button" class="btn btn-success " id="btnActions" (click)="close()"> 
              <span class="glyphicon glyphicon-plus">Aceptar</span>
            </button>

            <button type="button" class="btn btn-warning" id="btnActions" (click)="close()"> 
              <span aria-hidden="true">Rechazar</span>
            </button>

            <button type="button" class="btn btn-danger" id="btnActions" (click)="close()"> 
              <span class="glyphicon glyphicon glyphicon-trash">Cancelar</span>
            </button>
        </div>

        <div>
            Action:
            <pre>{{ modalData?.action }}</pre>
        </div>
    </div>
    <br>
    <button type="button" class="btn btn-outline-secondary" id="btnOK" (click)="close()">Aceptar</button>
    <br>
    <div class="modal-footer">
        <h5> palabra: </h5>
        <br>
        <h5 class="footer-msj"> palabra: {{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h5>
    </div>
</ng-template>