h3 {
    margin: 0 0 10px;
}

pre {
    background-color: #f5f5f5;
    padding: 15px;
}

.modal-footer {
    background-color: #12799F;
}

.footer-msj {
    color: #f5f5f5;
    margin-right: 32.5%;
}

.slotsContainer {
    display: block;
    margin-bottom: 2%;
}

#btnCita {
    display: block;
}

#btnCita ul {
    background: 67e6ec;
    margin-right: 0%;
    margin-left: 0%;
    padding-left: 0%;
    padding-right: 0%;
    color: black;
    list-style: none;
    text-align: left;
    width: 438px;
    height: 50px;
    padding-bottom: 2px;
}

.bn-pink {
    background-color: #b1d9b4 !important;
}


/*
.modal-body {
    margin-top: 20%;
}*/


/*
ng-template {
    margin-top: 40%;
}*/

#btnOK {
    float: right;
    margin-bottom: 2px;
    margin-left: 2px;
    margin-right: 2px;
}

#btnActions {
    margin-bottom: 10px;
    margin-top: 5px;
    margin-right: 2px;
    float: right;
    display: inline;
    bottom: 10%;
}


/*67e6ec*/