<link href="https://unpkg.com/bootstrap-css-only@4.3.1/css/bootstrap.min.css" rel="stylesheet">
<link href="https://unpkg.com/font-awesome@4.7.0/css/font-awesome.css" rel="stylesheet">
<link href="https://unpkg.com/angular-calendar@0.27.8/css/angular-calendar.css" rel="stylesheet">
<link href="https://unpkg.com/flatpickr@4.5.7/dist/flatpickr.css" rel="stylesheet">

<div class="row text-center" >
  <div class="col-md-4">
    <div class="btn-group">
        
      <div class="btn btn-primary" id="buttonPre" (click)="lastMonth()" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()">
        Previous
      </div>
      <div class="btn btn-primary" id="buttonNext" (click)="nextMonth()" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()">
        Next
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
  </div>
  <div class="col-md-4">
    <div class="btn-group">
    </div>
  </div>
</div>
<br />

<ng-template #loading>
  <div class="text-center">
    <i class="fa fa-spin fa-spinner fa-5x"></i> <br />
    Cargando...
  </div>
</ng-template>

<div *ngIf="events$ | async; else loading; let events">
  <div [ngSwitch]="view" class=tamCalendario>
    <mwl-calendar-month-view
      (dayClicked)="dayClicked($event.day, content)"
      *ngSwitchCase="CalendarView.Month"
      [viewDate]="viewDate" [events]="events"
      [refresh]="refresh"
    >

    </mwl-calendar-month-view>
  </div>
</div>

<ng-template #modalContent let-close="close">
    <div class="modal-header">
        <h5 class="modal-title">Listado de citas</h5>
        <button type="button" class="close" (click)="close()"> <!--El close() es un método propio del modal que lo cierra-->
      <span aria-hidden="true">&times;</span>
    </button>
    </div>

    <div class="modal-body">
        <div *ngFor="let item of citasDia" class="slotsContainer">
            <button type="button" class="btn btn-info" id="btnCita" (click)="close()"> 
              <span aria-hidden="true">
                <ul>
                    <li>
                        {{item.nombre}}
                    </li>
                    <li>
                        {{item.horaInicio}} - {{item.horaFinal}} 
                    </li>
                    <li>
                        Curso: {{item.siglaCurso}}, grupo: {{item.numGrupo}}
                    </li>
                </ul>
                </span>
            </button>
            <!--El close() es un método propio del modal que lo cierra-->
            <button *ngIf="mostraOpcion(item)" type="button" class="btn btn-success " id="btnActions" (click)="aceptarCita(item)"> 
              <span class="glyphicon glyphicon-plus">Aceptar</span>
            </button>

            <button type="button" class="btn btn-warning" id="btnActions" (click)="cancelarCita(item)"> 
              <span aria-hidden="true">Rechazar</span>
            </button>
            <!--
            <button type="button" class="btn btn-danger" id="btnActions" (click)="close()"> 
              <span class="glyphicon glyphicon glyphicon-trash">Cancelar</span>
            </button>

-->
        </div>
        <!--
        <div>
            Action:
            <pre>{{ modalData?.action }}</pre>
        </div>
-->
    </div>
    <br>
    <button type="button" class="btn btn-outline-secondary" id="btnOK" (click)="close()">Aceptar</button>
    <br>
    <div class="modal-footer">
        <h5 class="footer-msj"> Fecha: {{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h5>
    </div>
</ng-template>