h3 {
  margin: 0 0 10px;
}

pre {
  background-color: #f5f5f5;
  padding: 15px;
}
.botonList{
float: left;
}
.cajaCitasPrivadas{
height: 100px;
width: 80%;
  border: 1px solid #F17846;




}

#botonEnvioInf{
  color: white;
  

}
#buttonCitaAprob{
  background-color:#75BF09

}
#buttonCitaNoAprob{
  background-color: #F17846;
}
.buttonSendForm{
 background-color:  rgba(9,115,187,.95);
 margin: auto; display: block;
}
.tamCalendario{
  width: 70%;
  height: 70%;
  margin: auto; display: block;
}
#derecha{

float: right;
}

#celeste{

background-color: rgba(9,115,187,.95);
}

#buttonPre{
margin-top: 18%;

}
#buttonNext{

  margin-top: 18%;

  
    }