<body>
        <div class="border border-primary mt-3 container d-flex justify-content-center">
                <div class="w-50">
                    <div class="card 100 mb-1 mt-1 p-2">
                        <h3 class="text-center"> Información de Cita <br></h3>
                        <span class="texto">Cita: </span><br>
                        <span class="texto">Hora inicio de consulta: </span> <br>
                        <span class="texto"> Hora final de consulta:</span><br>
                        <span class="texto">Lugar: </span><br>
                        <span class="texto">Tipo de cita: </span><br>
                        <span class="texto">Estado: </span><br>
                    </div>
                    <div class="card p-2">
                        <h3 class="text-center"> Información del Estudiante <br></h3>
                        <span class="texto">Nombre: {{this.citaMostar.nombre}}</span><br>
                        <span class="texto">Carné:</span> <br>
                        <span class="texto"> Curso:</span><br>
                        <span class="texto">Grupo: </span><br>
                    </div>
                    <div class="w-100 p-2 d-flex justify-content-center">
                        <button class="btn btn-primary mr-2" (click)="aceptarCita()">Aceptar</button>
                        <button class="btn btn-danger"(click)="cancelarCita()">Cancelar</button>
                    </div>
                </div>
            </div>
        
</body>