<body>
    <div class="border border-primary mt-3 container d-flex justify-content-center">
        <div class="w-50">
            <div class="card 100 mb-1 mt-1 p-2">
                <div *ngIf="!esconderContador">
                    <h3 class="text-center"> Información de cita <br></h3>
                    <span class="texto">Cita: {{this.objetoCita.descripcion}}</span><br><br>
                    <span class="texto">Hora inicio de consulta: {{this.citaActual.horaInicio}}</span> <br><br>
                    <span class="texto"> Hora final de consulta: {{this.citaActual.horaFinal}}</span><br><br>
                    <span class="texto">Lugar: {{this.objetoCita.lugar}}</span><br><br>
                    <span class="texto">Tipo de cita: {{this.objetoCita.tipo}}</span><br><br>
                    <span class="texto"> Cantidad de asistentes: {{this.objetoCita.contador}}</span><br><br>
                    <span class="texto">Estado: {{this.citaActual.estado}}</span><br><br>
                    <span class="texto">Archivo adjunto: <a class="enlace" href={{this.citaActual.fileUrl}}>{{this.citaActual.fileName}} </a> </span><br><br>
                    
                </div>
                <div *ngIf="esconderContador">
                    <h3 class="text-center"> Información de cita <br></h3>
                    <span class="texto">Cita: {{this.objetoCita.descripcion}}</span><br><br>
                    <span class="texto">Hora inicio de consulta: {{this.citaActual.horaInicio}}</span> <br><br>
                    <span class="texto"> Hora final de consulta: {{this.citaActual.horaFinal}}</span><br><br>
                    <span class="texto">Lugar: {{this.objetoCita.lugar}}</span><br><br>
                    <span class="texto">Tipo de cita: {{this.objetoCita.tipo}}</span><br><br>
                    <span class="texto">Estado: {{this.citaActual.estado}}</span><br><br>
                    <span class="texto">Archivo adjunto: <a class="enlace" href={{this.citaActual.fileUrl}}>{{this.citaActual.fileName}} </a>  </span><br><br>


                </div>

            </div>
            <div class="card p-2">
                <div *ngIf="!esconderDatosCedula">
                    <h3 class="text-center"> Información del estudiante <br></h3><br>
                    <span class="texto">Nombre: {{this.citaActual.nombre}}</span><br><br>
                    <span class="texto">Carné: {{this.objetoCita.carne}}</span> <br><br>
                    <span class="texto"> Curso: {{this.citaActual.siglaCurso}}</span><br><br>
                    <span class="texto">Grupo: {{this.citaActual.numGrupo}}</span><br><br>
                </div>
                <div *ngIf="esconderDatosCedula">
                    <h3 class="text-center"> Información del estudiante <br></h3><br>
                    <span class="texto"> Curso: {{this.citaActual.siglaCurso}}</span><br><br>

                </div>

            </div>
            <div class="w-100 p-2 d-flex justify-content-center">
                <div *ngIf="estado">
                    <button class="btn btn-primary mr-2" disabled (click)="aceptarCita() ">Aceptar</button>
                    <button class="btn btn-danger" (click)="cancelarCita() ">Cancelar</button>

                </div>
                <div *ngIf="!estado">
                    <button class="btn btn-primary mr-2" (click)="aceptarCita() ">Aceptar</button>
                    <button class="btn btn-danger" (click)="cancelarCita() ">Cancelar</button>
                </div>



            </div>
        </div>
    </div>

</body>