<body>

    <div class="container">
        <span class="texto">Cita: </span><br>
        <span class="texto">Hora inicio de consulta:</span> <br>
        <span class="texto"> Hora final de consulta:</span><br>
        <span class="texto">Lugar: </span><br>
        <h3> <span class="texto">Información del Estudiante </span><br></h3>
        <span class="texto">Nombre: </span><br>
        <span class="texto">Carné:</span> <br>
        <span class="texto"> Curso:</span><br>
        <span class="texto">Grupo: </span><br>

    </div>
</body>